* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand {
    font-size: 1.5rem;
    margin: .5rem;

}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links ul li{
    list-style-type: none;
    font-size: 18px;
}
.navbar-links ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links ul li:hover{
    background-color: #555;
}
.toggle-button{
     position: absolute;
     top: .75rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
      
}
.navbar a{
  text-decoration: none;
  color: dimgray;
}
.navbar .svg-inline--fa{
    height: 30px;
    width: 100%;
    padding: 4px 7px;
    background-color: white;
    border-radius: 3px;
}
@media (max-width: 450px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        width: 100%;
        display: none;
        height: 90vh;
        transition: 3s ease-in-out;
    }
    .navbar-links ul li a:hover{
        padding-right: 3px;
        transition: all 0.4s;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: 1rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    

}